[submodule "androidUtils"]
	path = androidUtils
	url = https://github.com/yuriykulikov/AndroidUtils.git
[submodule "alarmClock"]
	path = alarmClock
	url = https://github.com/yuriykulikov/AlarmClock.git
